<section hlmCard class="flex flex-col gap-2 rounded-sm">
  <div hlmCardHeader>
    <h3 hlmCardTitle class="text-muted-foreground font-normal text-xs">Spend Activity</h3>
  </div>
  <div hlmCardContent class="flex justify-between items-center">
    <div class="font-semibold text-2xl">{{ totalSpend() | currency }}</div>
    <div class="text-sm flex items-center gap-1 {{ changeClass() }}">
      @if (isSpendIncrease()) {
        <ng-icon name="lucideArrowUpCircle" class="size-4" />
        {{ spendDifference() | currency }} above last month
      } @else {
        <ng-icon name="lucideArrowDownCircle" class="size-4" />
        {{ spendDifference() | currency }} below last month
      }
    </div>
  </div>
  <div hlmCardFooter>
    <div
      echarts
      [options]="options()"
      [theme]="theme()"
      [autoResize]="true"
      class="w-full min-h-64 mt-2"
    ></div>
  </div>
</section>
