<hlm-sidebar-wrapper>
  <hlm-sidebar variant="inset" collapsible="icon">
    <hlm-sidebar-header class="justify-center h-16">
      <ul hlmSidebarMenu>
        <li hlmSidebarMenuItem>
          <a hlmSidebarMenuButton size="lg" routerLink="" class="p-2">
            <div
              class="bg-sidebar-primary text-sidebar-primary-foreground flex aspect-square size-8 items-center justify-center rounded-lg"
            >
              <ng-icon hlm name="lucideChartLine" class="text-base" />
            </div>
            <div class="grid flex-1 text-left leading-tight">
              <span class="truncate font-medium">Basic Finance</span>
              <span class="truncate text-xs">Finance that matter to you</span>
            </div>
          </a>
        </li>
      </ul>
    </hlm-sidebar-header>
    <hlm-separator />
    <hlm-sidebar-content>
      <hlm-sidebar-group>
        <div hlmSidebarGroupContent>
          <ul hlmSidebarMenu>
            @for (item of navigationItems; track item.label) {
              <li hlmSidebarMenuItem>
                <a
                  hlmSidebarMenuButton
                  [routerLink]="item.routerLink"
                  routerLinkActive
                  #rla="routerLinkActive"
                  [isActive]="rla.isActive"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  <ng-icon hlm [name]="item.icon" />
                  <span>{{ item.label }}</span>
                </a>
              </li>
            }
          </ul>
        </div>
      </hlm-sidebar-group>
    </hlm-sidebar-content>
    <hlm-separator />
    <hlm-sidebar-footer>
      @if (!isMobile() && !isDesktopSidebarOpen()) {
        <ul hlmSidebarMenu>
          <li hlmSidebarMenuItem>
            <button hlmSidebarMenuButton (click)="toggleSidebarOpen()">
              <ng-icon hlm name="lucideChevronRight" />
              <span class="sr-only">Toggle Sidebar Open</span>
            </button>
          </li>
        </ul>
      }
      <ul hlmSidebarMenu>
        <li hlmSidebarMenuItem>
          <a
            hlmSidebarMenuButton
            routerLink="settings"
            routerLinkActive
            #rla="routerLinkActive"
            [isActive]="rla.isActive"
          >
            <ng-icon hlm name=" lucideSettings" />
            <span>Settings</span>
          </a>

          @if (!isMobile()) {
            <button hlmSidebarMenuAction (click)="toggleSidebarOpen()">
              <ng-icon hlm name=" lucideChevronLeft" />
              <span class="sr-only">Toggle Sidebar Close</span>
            </button>
          }
        </li>
      </ul>
    </hlm-sidebar-footer>
  </hlm-sidebar>
  <main hlmSidebarInset variant="inset">
    <header class="flex h-16 shrink-0 items-center gap-2">
      <div class="flex items-center gap-2 px-4">
        @if (isMobile()) {
          <button hlmSidebarTrigger></button>
        }
      </div>
    </header>
    <hlm-separator />
    <div class="bg-muted/40 p-5 flex-1 flex flex-col min-h-0">
      <router-outlet />
    </div>
  </main>
</hlm-sidebar-wrapper>
