{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "tailwindFunctions": [
    "hlm",
    "cva"
  ],
  "tailwindStylesheet": "./src/styles.css",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}