<section hlmCard class="gap-2 rounded-sm h-full">
  <div hlmCardHeader>
    <h3 hlmCardTitle class="text-xs">Net Worth by Account</h3>
  </div>
  <div hlmCardContent>
    <div class="font-semibold text-2xl">{{ totalSpend() | currency }}</div>
    <hlm-item-group>
      @for (entry of breakdownEntries(); track entry.code) {
        @let code = entry.code;
        @let breakdown = entry.breakdown;
        <hlm-item size="xs">
          <hlm-item-content>
            <hlm-item-title>
              {{ accountTypeLabels[code] }}
            </hlm-item-title>
            <p hlmItemDescription>
              {{ breakdown.percentageOfTotalBalance | number: '1.0-0' }}% of net worth
            </p>
          </hlm-item-content>

          <hlm-item-content>
            <p hlmItemDescription>{{ breakdown.balance | currency }}</p>
          </hlm-item-content>

          <hlm-item-footer>
            <hlm-progress [value]="breakdown.percentageOfTotalBalance | abs">
              <hlm-progress-indicator />
            </hlm-progress>
          </hlm-item-footer>
        </hlm-item>
      }
    </hlm-item-group>
  </div>
</section>
